<ion-content [fullscreen]="true">
  <ion-grid class="calculator-display">
    <ion-row class="ion-align-items-end calculator-display-content">
      <ion-col class="ion-text-end" size="12">
        {{ displayStorage.toLocaleString('pt-BR') + ' ' + selectedAction }}
      </ion-col>
      <ion-col class="ion-text-end" size="12">
        {{ displayResult.toLocaleString('pt-BR') }}
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid class="calculator-buttons">
    <ion-row>
      <ion-col size="9" class="calculator-numbers">
        <ion-row>
          <ion-col size="4" *ngFor="let item of calcItems" class="calculator-div-button">
            <ion-button
              color="dark"
              class="button"
              (click)="setWritingValue(item)"
              *ngIf="item !== 'C'; else clearVar"
            >
              {{ item }}
            </ion-button>
            <ng-template #clearVar>
              <ion-button
                color="dark"
                class="button"
                (click)="clearDisplay(item)"
              >
                {{ item }}
              </ion-button>
            </ng-template>
          </ion-col>
        </ion-row>
      </ion-col>
      <ion-col size="3">
        <ion-row *ngIf="!showPlusActions">
          <ion-col size="12" class="calculator-div-button">
            <ion-button (click)="setWritingValue('', 'erase')">
              <ion-icon name="backspace-outline"></ion-icon>
            </ion-button>
          </ion-col>
          <ion-col size="12" class="calculator-div-button" *ngFor="let item of calcActions">
            <ion-button (click)="setWritingValue(item, '')" color="primary" class="button">
              <span>{{ item }}</span>
            </ion-button>
          </ion-col>
          <ion-col size="12" class="calculator-div-button">
            <ion-button
              color="primary"
              class="button"
              (click)="setStorageValue()"
            >
              =
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
