* {
  box-sizing: border-box;
}

ion-menu-button {
  color: var(--ion-color-primary);
}

#container {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;
  color: #8c8c8c;
  margin: 0;
}

#container a {
  text-decoration: none;
}

.calculator-numbers {
  border-right: 1px solid rgb(0, 0, 0);
}

.calculator-display {
  height: 30vh;
  background-color: rgb(39, 39, 39);
  color: rgb(226, 226, 226);
  font-size: 36px;
  padding: 0px;

  .calculator-display-content {
    height: 100%;
    padding: 10px 20px;
  }
}

.calculator-buttons {
  background-color: rgb(75, 75, 75);
  height: 70vh;
  padding: 0px;

  .calculator-div-button {
    padding: 2px;

  }

  .button {
    width: 100%;
    height: calc(((70vh - 10px) / 6) - 4px);
    margin: 0px;
    font-size: 22px;
  }
}
